[Unit]
Description={{ service_identifier }}

[Service]
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ scilla_home_dir }}
EnvironmentFile={{ scilla_environment_general_file_path }}
ExecStart={{ scilla_bin_dir }}/{{ service_identifier }} --port {{ zilliqa.scilla.ports.scilla_port }} --verbose
Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ scilla_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
