[Unit]
Description={{ service_identifier }}

[Service]
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ node_home_dir }}
EnvironmentFile={{ node_environment_secret_file_path }}
EnvironmentFile={{ node_environment_general_file_path }}
ExecStart={{ node_bin_dir }}/{{ service_identifier }} --config-file {{ node_config_file_path }} $PRIVATE_KEY --log-json
Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ node_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
