#!/bin/bash

# Set variables
RPC_URL="http://localhost:{{ zilliqa.validator.ports.api_port }}"

# Timestamped logger
log() {
  echo "[$(date '+%Y-%m-%d %H:%M:%S')] $1"
}

# Fetch sync status
SYNCING_STATUS=$(curl -s -X POST --url "$RPC_URL" \
    --header 'Content-Type: application/json' \
    --data '{"method":"eth_syncing","params":[],"id":1,"jsonrpc":"2.0"}' | jq -r '.result')

# Fetch the peer count
PEER_COUNT=$(curl -s -X POST --url "$RPC_URL" \
    --header 'Content-Type: application/json' \
    --data '{"method":"net_peerCount","params":[],"id":1,"jsonrpc":"2.0"}' | jq -r '.result' | xargs printf "%d\n")

if [[ "$PEER_COUNT" -eq 0 || "$SYNCING_STATUS" != "false" ]]; then
    log "Node has lost all peer connections or is stuck. Restarting service."
    systemctl restart zilliqa.service
    log "Restarted zilliqa.service."
else
    log "Node is fully synced. No action needed."
fi
