---
- name: Reload service
  ansible.builtin.systemd:
    daemon_reload: true

- name: Start service
  ansible.builtin.systemd:
    name: "{{ service_identifier }}"
    state: started
    enabled: true

- name: Restart service
  ansible.builtin.systemd:
    name: "{{ service_identifier }}"
    state: restarted
    enabled: true

- name: Stop service
  ansible.builtin.systemd:
    name: "{{ service_identifier }}"
    state: stopped

- name: Restart timer
  ansible.builtin.systemd:
    name: "{{ service_identifier }}.timer"
    state: restarted
    enabled: true
