RPC_HOST="127.0.0.1"
RPC_PORT="{{ zilliqa.validator.ports.api_port }}"
LISTENING_PORT="{{ zilliqa.validator.ports.p2p_port }}"
INSTANCE_NAME="{{ org }}-{{ project }}"
CONTACT_DETAILS="team@encapsulate.xyz"
WS_SERVER="ws://stats.zq2-protomainnet.zilliqa.com"
VERBOSITY="2"
PATH={{ stats_agent_nodejs_dir }}:{{ ansible_env.PATH }}
PEER_ID="12D3KooWPLj6mLuDY1zhc9FRKY3YoJ8BPd61mh7Q8yZZU5DkBv3G"
