#!/bin/bash

# Set variables
RPC_URL="http://localhost:{{ zilliqa.validator.ports.api_port }}/"
PUSHGATEWAY_URL="http://{{ monitor_server_dns }}:9091/metrics/job/chain_exporter"
LOG_FILE="{{ stats_agent_log_dir }}/push-metrics.log"

# Fetch the current block height
BLOCK_HEIGHT=$(curl -s -X POST --url "$RPC_URL" \
    --header 'Content-Type: application/json' \
    --data '{"method":"eth_blockNumber","params":[],"id":1,"jsonrpc":"2.0"}' | jq -r '.result' | xargs printf "%d\n")

# Fetch the client version and extract just the version part (v0.6.1)
CLIENT_VERSION=$(curl -s -X POST --url "$RPC_URL" \
    --header 'Content-Type: application/json' \
    --data '{"method":"web3_clientVersion","params":[],"id":1,"jsonrpc":"2.0"}' | jq -r '.result' | sed 's/^.*\/v\(.*\)$/v\1/')

# Fetch the peer count
PEER_COUNT=$(curl -s -X POST --url "$RPC_URL" \
    --header 'Content-Type: application/json' \
    --data '{"method":"net_peerCount","params":[],"id":1,"jsonrpc":"2.0"}' | jq -r '.result' | xargs printf "%d\n")

# Fetch sync status
SYNCING_STATUS=$(curl -s -X POST --url "$RPC_URL" \
    --header 'Content-Type: application/json' \
    --data '{"method":"eth_syncing","params":[],"id":1,"jsonrpc":"2.0"}' | jq -r '.result')

# Check if sync status is false (not syncing)
if [[ "$SYNCING_STATUS" == "false" ]]; then
    SYNC_STATUS="0"
else
    SYNC_STATUS="1"
fi

# Print fetched values
echo "Last Pushed at: $(date +"%Y-%m-%d %H:%M:%S")" >> "$LOG_FILE"

# Push the metrics to Prometheus Pushgateway
cat <<EOF | curl --data-binary @- "$PUSHGATEWAY_URL"
zilliqa_latest_block_height{env="testnet", type="validator", project="zilliqa"} $BLOCK_HEIGHT
zilliqa_peer_count{env="testnet", type="validator", project="zilliqa"} $PEER_COUNT
zilliqa_sync_status{env="testnet", type="validator", project="zilliqa"} $SYNC_STATUS
zilliqa_client_info{env="testnet", type="validator", project="zilliqa", version="$CLIENT_VERSION"} 1
EOF
