[Unit]
Description={{ service_identifier }}

[Service]
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ stats_agent_bin_dir }}
EnvironmentFile={{ stats_agent_environment_general_file_path }}
EnvironmentFile={{ stats_agent_environment_secrets_file_path }}
ExecStart={{ stats_agent_nodejs_dir }}/node ./app.js 
Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ stats_agent_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
